<% if @post.comments.any? %>
  <h3>Комментарии</h3>
  <% @post.comments.each do |comment| %>
    <div class="alert alert-light">
      <% owner = '(Автор публикации)' %>
      <strong><%=comment.user.name%></strong><%= owner if @post.user_id == comment.user_id %>:<br> <%= comment.content %>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <% if can? :update, comment %>
        <%= link_to 'Редактировать комментарий', edit_post_comment_path(@post, comment), :class => 'btn btn-outline-warning btn-sm' %>
      <% end %>
      <% if can? :destroy, comment %>
        <%= button_to 'Удалить комментарий', post_comment_path(@post, comment), form: { data: { turbo_confirm: "Вы уверены?" } }, method: :delete , :class => 'btn btn-outline-danger btn-sm'%>
      <% end %>
    </div>
  <% end %>
<% end %>

