<% if @post.comments.any? %>
  <h3>Комментарии</h3>
  <% @post.comments.each do |comment| %>
    <div class="alert alert-light">
      <% owner = '(Автор поста)' %>
      <p><strong><%=comment.user.name  %></strong>: <%= comment.content %>: <%= owner if @post.user_id == comment.user_id %></p>
    </div>
        <% if can? :update, comment %>
          <%= link_to 'Редактировать комментарий', edit_post_comment_path(@post, comment), :class => 'btn btn-success' %>
        <% end %>
        <% if can? :destroy, comment %>
            <%= button_to 'Удалить комментарий', post_comment_path(@post, comment), form: { data: { turbo_confirm: "Вы уверены?" } }, method: :delete , :class => 'btn btn-danger'%>
        <% end %>
  <% end %>
<% end %>

