<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-4 col-lg-5">
    <%= form.text_area :title, :class => 'form-control', :id => "floatingTextarea2"%>
    <label class="form-label" for="floatingTextarea2">Заголовок</label>
  </div>
  <div class="form-floating mb-4">
    <%= form.text_area :content, :class => 'form-control', :id => "floatingTextarea1", :style => "height: 400px" %>
    <label class="form-label" for="floatingTextarea1">Текст</label>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <%= form.submit "Сохранить", :class => 'btn btn-outline-warning'%>
    <%= link_to "Назад", :back, :class => 'btn btn-outline-dark' %>
  </div>

<% end %>
