<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <p><%= form.label :title, 'Название', :class => 'control-label' %></p>
    <p><%= form.text_area :title, :class => 'form-control'%></p>
  </div>

  <div class="field form-group">
    <p><%= form.label :content, 'Текст', :class => 'control-label'%></p>
    <p><%= form.text_area :content, :class => 'form-control'%></p>
  </div>

  <div class="actions">
    <p><%= form.submit "Сохранить", :class => 'btn btn-success'%></p>
  </div>

<% end %>
