<% if @posts.any? %>
  <% @posts.each do |post| %>
    <main class="container">
      <div class="row g-5 justify-content-center">
        <div class="col-md-10">
          <article class="blog-post">
            <h2 class="blog-post-title"><%= link_to post.title, post_path(post), class: 'nav-link px-1 link-dark text-underline-hover'%></h2>
            <p class="blog-post-meta">Дата публикации: <%= post.created_at.strftime("%d.%m.%Y %H:%M")%><a><br> Автор: <%=post.user.name%></a></p>
            <p><%= post.content[0..1000] %>...</p>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-1 col-md-5 col-md-offset-3">
                <% if post.content.length > 1000%>
                  <i><%= link_to 'Читать далее...', post, class: 'nav-link link-dark text-underline-hover' %></i>
                <% end %>
              </div>
            </div>
          </article>
        </div>

      </div>
    </main>
  <% end %>
  <footer class="blog-footer">
    <p>
      <a class='nav-link link-dark justify-content-md-end text-underline-hover' href="#">На вверх</a>
    </p>
  </footer>
<% end %>
