<% if @posts.any? %>
  <% @posts.each do |post| %>
    <main class="container">
      <div class="row g-5">
        <div class="col-md-8">

          <article class="blog-post">
            <h2 class="blog-post-title"><%= link_to post.title, post_path(post), class: 'nav-link px-1 link-dark text-underline-hover'%></h2>
            <p class="blog-post-meta"><%= post.created_at.strftime("%d.%m.%Y %H:%M")%><a> <%=post.user.name%></a></p>
            <p><%= post.content[0..1000] %>...</p>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-1 col-md-5 col-md-offset-3">
                <% if post.content.length > 1000%>
                  <i><%= link_to 'Читать далее...', post, class: 'nav-link link-dark text-underline-hover' %></i>
                <% end %>
              </div>
            </div>
          </article>
        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">About</h4>
              <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  <% end %>
<% end %>

<br>

<footer class="blog-footer">
  <p>
    <a class='btn btn-outline-dark' href="#">На вверх</a>
  </p>
</footer>


