<!DOCTYPE html>
<html>
  <head>
    <title>Kit-Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

  <header class="p-2 mb-2 border-bottom bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="/">
          <img src="https://img2.freepng.ru/20180713/ob/kisspng-graphic-design-logo-monogram-corporate-identity-monogram-logo-5b4838dca24641.7487994415314598046647.jpg" alt="" width="70" height="50" class="d-inline-block align-text-top">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <%= link_to "Главная страница", posts_path , class: 'nav-link px-2 link-dark'%>
          <% if user_signed_in? %>
            <%= link_to "Добавить публикацию", new_post_path, class: 'nav-link px-2 link-dark'%>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="40" height="37" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><%= link_to 'Редактирование профиля', edit_user_registration_path, class: 'dropdown-item' %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to 'Список пользователей', users_path, class: 'dropdown-item' %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: 'dropdown-item' %></li>
            </ul>
        <% else %>
          <%= link_to 'Авторизация', new_user_session_path, class: 'nav-link px-2 link-dark' %>
          <%= link_to 'Регистрация', new_user_registration_path, class: 'nav-link px-2 link-dark' %>
        <% end %>
        </div>
      </div>
    </div>
  </header>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>
   </body>
</html>
